# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

# Ignore logs
logs/
*.log

# Ignore configuration files
*.env

# Ignore VSCode settings
.vscode/

# Ignore model files
models/*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled files
*.so
*.dll
*.exe